:root {

    --primary: #364954;
    --primaryDark: #2b3b45;
    --grisClaro: #f1f2f5;
    --gris2: #717171;
    --gris3: #a8a8a8;
    --amarillo: #ff8e00;
    --blanco: #fff;
    --negro: #181818;
    --verde: #639568;
    --rojo: #d12f2f;
    --azul: #2e85aa;

  }
  html{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    max-width: 800px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-size: 1.6rem;;
    line-height: 1.5;
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    color: var(--blanco);
  }
  h1, h2, h3 {
    margin: 0 0 2rem 0;
    line-height: 1.5;
  }
  h1, h2 {
    font-weight: 700;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
    color: var(--blanco);
  }
  
  img {
    max-width: 100%;
    display: flex;
    margin: auto;
    border-radius: 3px;
  }
  

.container {
  margin: auto;
  width: 95%;
  padding: 1rem;
}

form{
  padding: 1rem;
  margin: auto;
}


.divItemForm {
  display: flex;
  flex-direction: column;
}

label{
  font-size: 2rem;
  color: var(--blanco);
  margin: 1rem .5rem;
  font-weight: 700;
}

button, input, select{
  padding: 1.5rem;
  width: 100%;
  border-style: none;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 700;
}
.botonPrimary{
  background-color: var(--amarillo);
  width: 90%;
  color: var(--blanco);
  margin: auto;
  margin-top: 1rem;
  display: block;
  
}
.botonSecondary{
  background-color: var(--azul);
  color: var(--blanco);
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  display: block;
}

.titulo{
  margin: 1rem 0;
  font-weight: 700;
  font-size: 3rem;
}
.inputPrecio{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    margin: auto;  
}
.precioPlaceHolder{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--grisClaro);
  background-color: var(--primary);
}

.divLogo{
  max-width: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 40% 60%;
}

.divTextoLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tituloLogo{
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--blanco);
  text-transform: uppercase;
  margin: 0;
}
.subtituloLogo{
  font-size: 2.6rem;
  color: var(--amarillo);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: .5rem;
}
.imagenLogo{
  border-radius: 100%;
  max-width: 100px;
}

.ventasDelDia{
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--primaryDark);
  border-radius: 8px;
  text-align: center;
}

.tituloTotalVentas {
  color: var(--amarillo);
  margin: 1rem 0;
  text-transform: uppercase;
}
.importeTotalVentas{
  font-size: 4rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--blanco); 
}

table{
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: center;
  border-collapse: collapse;
  background-color: var(--primaryDark);
  border-radius: 6px;
}

thead{
  background-color: var(--amarillo);
  color: var(--blanco);
  padding-bottom: .5rem;
  border: 1px solid var(--gris);
}

th, td{
  color: var(--grisClaro);
  padding: 1rem 0;
}

th{
  font-size: 1.5rem;

}

.divTabla {
  overflow-y: auto;
  max-height: 400px;
}
.divFiltrar{
  margin: auto;
  display: grid;
  grid-template-columns: 50% 25% 25%;
}
.btnFiltrar{
  margin: 1rem;
  padding: 1rem;
  background-color: var(--azul);
  border-radius: 6px;
  color: var(--blanco);
}
.textoOculto{
  color: var(--primary);
}

.alertError{
  margin: 10px auto;
  background-color: #d12f2f;
  color: var(--blanco);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1.5rem;
  border-radius: 6px;
}
.oculto{
  display: none;
}
